<h2>{{post.title}} {{fa-icon "camera"}}</h2>

<p class="description">{{post.exerpt}}</p>

{{#if post.isPublished}}
  {{fa-icon "check"}} <strong>Published {{moment post.publishDate 'LL'}}</strong>
{{/if}}

<div class="button">
  {{#link-to 'post' post class="btn btn-primary" role="button"}}Read More &raquo;{{/link-to}}
</div>
